{% for post in site.categories.Works %}
	<div class="grid-item">
		<div class="grid-item__inner">
			<div class="grid-item__content-wrapper">
				
				<!-- work -->
				<div class="work"><a href="{% include relative-src.html src=post.url %}">
						
						<!-- hoverbox ef-slide-top -->
						<div class="hoverbox ef-slide-top light">
							
							<!-- hb_front -->
							<div class="hb_front"><img src="{{ post.miniature }}" alt="{{ post.title }}"/>
							</div><!-- End / hb_front -->
							
							
							<!-- hb_back -->
							<div class="hb_back">
								<h2 class="work__title">{{ post.title }}</h2><span class="work__text">Veja +</span>
							</div><!-- End / hb_back -->
							
						</div><!-- End / hoverbox ef-slide-top -->
						</a>
				</div><!-- End / work -->
				
			</div>
		</div>
	</div>
{% endfor %}