---
layout: default
---

<!-- Section -->
<section class="awe-section bg-gray">
	<div class="container">
		<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
			<div class="grid__inner">
				<div class="grid-sizer"></div>
				
				{% include list-posts.html posts=paginator.posts %}

			</div>
		</div>	
<!--
		<div class="row">
			{% if paginator.total_pages > 1 %}
				<div class="pagination">
					{% if paginator.previous_page %}
						<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Antigos</a>
					{% endif %}

					<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

					{% if paginator.next_page %}
						<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Novos &rarr;</a>
					{% endif %}
				</div>
			{% endif %}
		</div>	-->
	</div>
</section>
<!-- End / Section -->
