<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{% seo %}
	{% feed_meta %}

	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Fonts-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/fontawesome/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/pe-icon/pe-icon.css">
	<!-- Vendors-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendors/bootstrap/grid.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendors/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendors/swiper/swiper.css">
	<!-- App & fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
	<link rel="stylesheet" type="text/css" id="app-stylesheet" href="{{ site.baseurl }}/assets/css/main.css"><!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->	
	<meta name="p:domain_verify" content="9adef3eb3cca9aa1be21814919b93dc2"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43029813-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-43029813-2');
	</script>
</head>

<body>
	<div class="page-wrap" id="root">
		<!-- header -->
			<header class="header header--fixed">
				<div class="header__inner">
					<div class="header__logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo.png" alt="Phillipe Souza" style="width: 250px;"/></a></div>
					<div class="navbar-toggle" id="fs-button">
						<div class="navbar-icon"><span></span></div>
					</div>
				</div>
				
				<!-- fullscreenmenu__module -->
				<div class="fullscreenmenu__module" trigger="#fs-button">
					
{% include navigation.html %}					
					
				</div><!-- End / fullscreenmenu__module -->
				
			</header><!-- End / header -->
			<!-- Content-->
			<div class="wil-content">

{{ content }}

			</div>
			<!-- End / Content-->
			<footer>
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!-- Begin MailChimp Signup Form -->
									<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
									<style type="text/css">
										#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
										/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
										   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
									</style>
									<div id="mc_embed_signup">
									<form action="https://phillipesouza.us10.list-manage.com/subscribe/post?u=5fda3d7ee50f516a9adddc1e9&amp;id=40c855bb8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									    <div id="mc_embed_signup_scroll">
										<label for="mce-EMAIL">Fique por dentro das novidades</label>
										<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Insira seu email" required>
									    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5fda3d7ee50f516a9adddc1e9_40c855bb8c" tabindex="-1" value=""></div>
									    <div class="clear"><input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
									    </div>
									</form>
									</div>

								<!--End mc_embed_signup--><br><br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-6 ">
								<p class="footer__coppy">2018 &copy; Phillipe Souza. Todos os Direitos Reservados.</p>
							</div>
							<div class="col-md-6 col-lg-6 ">
								<div class="footer__social">
									
									<!-- social-icon 
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
									</a> End / social-icon -->
									
									
									<!-- social-icon 
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
									</a> End / social-icon -->
									
									
									<!-- social-icon -->
									<a class="social-icon" href="https://www.linkedin.com/in/phillipesouza/"><i class="social-icon__icon fa fa-linkedin"></i>
									</a><!-- End / social-icon -->
									
									
									<!-- social-icon -->
									<a class="social-icon" href="https://www.behance.net/phillipesouza"><i class="social-icon__icon fa fa-behance"></i>
									</a><!-- End / social-icon -->
									
									
									<!-- social-icon 
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
									</a> End / social-icon -->

									
								</div>
							</div>
						</div>
					</div>
				</div><!-- End / footer -->
			</footer>

		
	</div>
				<!-- Vendors-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/swiper/swiper.jquery.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/menu/menu.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
		
	</body>
</html>
